.profile-window {
  font-family: "MS Sans Serif", "Microsoft Sans Serif", Geneva, sans-serif;
  -webkit-font-smoothing: none;
  background-color: #c0c0c0;
  border: 2px solid;
  border-top: 0px;
  border-color: #ffffff #808080 #808080 #ffffff; /* Creates the 3D outset border effect */
  font-family: "MS Sans Serif", "Microsoft Sans Serif", Geneva, sans-serif;
 box-sizing: border-box;
 width: 100%;
  max-width: 800px;
  
  margin: 0px auto;
  color: #000;
}

/* Banner area */
.banner-placeholder {
  width: 100%;
  height: 150px;
  background-color: #e8e8e8; /* Dark grey fallback */
  overflow: hidden;
  border-bottom: 2px solid #e8e8e8;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 5%;
}

/* Main content layout */
.profile-content {
  display: flex;
  padding: 0 20px 20px 20px;
  position: relative;
  align-items: flex-end;
  gap: 20px;
}

/* Circular Avatar styling */
.avatar-container {
  margin-top: -30px; /* Pulls avatar up into the banner */
  z-index: 2;
}

.avatar-placeholder {
  width: 120px;
  height: 120px;
  background-color: #808080;
  border-radius: 50%;
  border: 4px solid #c0c0c0; /* Match window background */
  overflow: hidden;

  display: flex;
  justify-content: center; 
  align-items: center;
}

.avatar-img {
  width: 120%;
  height: 120%;
  
  object-fit: cover;
  
}

/* Text and Buttons container */
.info-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}


.profile-name {
  font-size: 1.75rem;
  margin: 0;
  font-weight: bold;

  color: black; /* Neon glow effect */
 text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px #fff,
    0 0 80px rgba(255, 255, 255, 0.9),
    0 0 100px rgba(255, 255, 255, 0.7);
}

.profile-title {
  font-size: 1rem;
  margin: 2px 0;
  font-weight: bold;

  color: black;
   text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px #fff,
    0 0 80px rgba(255, 255, 255, 0.9),
    0 0 100px rgba(255, 255, 255, 0.7);
}

.profile-bio {
  font-size: .75rem;
  margin: 5px 0 0 0;
  max-width: 350px;
  line-height: 1.2;

  color: black;
   text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px #fff,
    0 0 80px rgba(255, 255, 255, 0.9),
    0 0 100px rgba(255, 255, 255, 0.7);
}

/* Action buttons */
.profile-actions {
  display: flex;
  gap: 5px;
}

.retro-btn {
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #ffffff #000000 #000000 #ffffff;
  padding: 4px 4px;
  font-size: .75rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.retro-btn:active {
  border-color: #000000 #ffffff #ffffff #000000;
}

.contact-btn {
    background-color: rgb(93, 191, 252);
    font-weight: bold;
}

.resume-btn {
    background-color: rgb(248, 255, 146) !important;
    font-weight: bold;
}
