html, body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%; /* Prevents font scaling in some mobile/desktop browsers */
  font-size: 16px; /* Explicitly set the base size */
}

.app-wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/wallpaper1.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}